<h1>Edit Run</h1><br>

<form action='/runs/<%= @run.id %>' method='post'>
    <input type='hidden' name='_method' value='patch'>
    Date: <input type='text' name='date' value='<%= @run.date %>'><br><br>
    Distance: <input type='text' name='distance' value='<%= @run.distance %>'> miles<br><br>
    Duration: <input type='text' name='hours' value='<%= @run.hours %>'> hour(s)
    <input type='text' name='minutes' value='<%= @run.minutes %>'> minutes
    <input type='text' name='seconds' value='<%= @run.seconds %>'> seconds

    <br><br>

    <input type='submit' value='Edit Run'>
</form>