<h1>Runs</h1>

<% @runs.each do |run| %>
    <ul>
        <li>Date <%= run.time %></li>
        <li>Distance: <%= run.distance %></li>
        <li>Duration: <%= run.hours %> hours <%= run.minutes %> minutes <%= run.seconds %> seconds</li><br>
    </ul>
<% end %>

<br><br>

<a href='/runs/new'>Log a New Run</a>